# 2016 Immigration Data Model

### Data Engineering Capstone Project

#### Project Summary

I executed the Udacity provided project. I used the immigration dataset and city demographics dataset. I stored my data in a star schema in a Postgres database. I used that star schema to answer questions about where (i.e., what countries) immigrants were coming from and where in the U.S. they were headed to.

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [83]:
import re
from collections import defaultdict
from datetime import datetime, timedelta

import pandas as pd
import psycopg2

In [5]:
# Because the immigration data has 28 columns
pd.set_option('display.max_columns', 28)

### Step 1: Scope the Project and Gather Data

#### Scope 

I used the immigration dataset and city demographics datasets provided by Udacity. I used pandas to read the data and load it into Postgres. From there I did all my ETL and analysis in SQL, but I have provided Python scripts to make it replicable.

#### Describe and Gather Data 

I split the immigration dataset up into a single `fact_immmigration` table as well as several `dim_` dimension tables. The city demographics dataset resulted in one intial dimension table that was the raw data and then I aggregated it into state-level statistics in another dimention table.

Before loading the data into SQL, I did some exploratory data analysis in pandas to get an idea of what DDL should define my tables.

##### The immigration data

In [63]:
# constants
READ_CHUNK_SIZE = 500000
IMMIGRATION_DATA_FILENAMES = [
    'data/18-83510-I94-Data-2016/i94_jan16_sub.sas7bdat',
    'data/18-83510-I94-Data-2016/i94_feb16_sub.sas7bdat',
    'data/18-83510-I94-Data-2016/i94_mar16_sub.sas7bdat',
    'data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat',
    'data/18-83510-I94-Data-2016/i94_may16_sub.sas7bdat',
    'data/18-83510-I94-Data-2016/i94_jun16_sub.sas7bdat',
    'data/18-83510-I94-Data-2016/i94_jul16_sub.sas7bdat',
    'data/18-83510-I94-Data-2016/i94_aug16_sub.sas7bdat',
    'data/18-83510-I94-Data-2016/i94_sep16_sub.sas7bdat',
    'data/18-83510-I94-Data-2016/i94_oct16_sub.sas7bdat',
    'data/18-83510-I94-Data-2016/i94_nov16_sub.sas7bdat',
    'data/18-83510-I94-Data-2016/i94_dec16_sub.sas7bdat',
]
CONN_STRING = 'postgresql://capstone_user:capstone_pw@localhost:5432/capstone'
HEADER_FILE = 'data/I94_SAS_Labels_Descriptions.SAS'

It takes several hours to load all of the immigration data into a single dataframe, so for the initial EDA I just loaded up one chunk of data

In [4]:
filename = IMMIGRATION_DATA_FILENAMES[0]
iterator = pd.read_sas(
    filename, 'sas7bdat', encoding='ISO-8859-1', chunksize=READ_CHUNK_SIZE
)
immigration_df = next(iterator)

In [8]:
print(immigration_df.shape)
immigration_df.head()

(500000, 28)

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,7.0,2016.0,1.0,101.0,101.0,BOS,20465.0,1.0,MA,NaN,20.0,3.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1996.0,D/S,M,NaN,LH,346608285.0,424,F1
1,8.0,2016.0,1.0,101.0,101.0,BOS,20465.0,1.0,MA,NaN,20.0,3.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1996.0,D/S,M,NaN,LH,346627585.0,424,F1
2,9.0,2016.0,1.0,101.0,101.0,BOS,20469.0,1.0,CT,20480.0,17.0,2.0,1.0,NaN,NaN,NaN,T,N,NaN,M,1999.0,07152016,F,NaN,AF,381092385.0,338,B2
3,10.0,2016.0,1.0,101.0,101.0,BOS,20469.0,1.0,CT,20499.0,45.0,2.0,1.0,NaN,NaN,NaN,T,N,NaN,M,1971.0,07152016,F,NaN,AF,381087885.0,338,B2
4,11.0,2016.0,1.0,101.0,101.0,BOS,20469.0,1.0,CT,20499.0,12.0,2.0,1.0,NaN,NaN,NaN,T,N,NaN,M,2004.0,07152016,M,NaN,AF,381078685.0,338,B2

This is only 500,000 rows out of a 40.79 million row dataset. Because it takes hours to load all of that data, and because `pd.to_sql` does not work from an ipython kernel, the full data load happens in Python scripts documented below.

##### The city demographics data

In [11]:
city_demo_df = pd.read_csv('data/us-cities-demographics.csv', delimiter=';')
print(city_demo_df.shape)
city_demo_df.head()

(2891, 12)

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

### Step 2: Explore and Assess the Data

#### Immigration Data

Because this data was too big to load into a single dataframe and do exploration on, all of the data exploration, assessment, and cleaning came after it was loaded into Postgres. My SQL exploration steps are detailed in the `Data Quality Checks` section below.

I can say, though, that most of my cleaning of this data involved creating dim tables for many of the coded fields, like `i94res` `i94cit`, and `i94visa`. Any data in those columns that didn't match a key in those dim tables would be interpreted as "unknown."

I did find two columns that could be cleaned. The first is `i94bir`, which is the age of the respondent in years. In this case I will set anything less than zero and the two 1812 values to NULL. `biryear` is the reported birth year of entrants and most of its dates range from 1900 - 2016, but there are two instances of 204, two of 2018, and one from 2019. Since this data is from 2016 those cases will all get set to NULL.

I considered cleaning columns like `i94addr` where the values provided go outside the bounds of what's listed in the header file and thus my dimension tables created from that table. However, some of these columns (`i94port`, `i94cit`, and `i94res`) provide more than one "invalid" code that it wasn't clear what to set it to. Another, `i94addr` provides just one `All Other Codes` code, but the value in that column, even that outside of the valid values, was so rich I didn't want to get rid of it. Consider:

```sql
select i94addr, count(i94addr) from fact_immigration
where i94addr not in (select code from dim_address)
group by i94addr order by count desc;
```

gives

| code | count  |
| ---- | ------:|
| MP   | 130555 |
| US   | 108767 |
| VQ   | 49465  |
| UN   | 20383  |
| GQ   | 10998  |

Finally, since this data also involves 12 different files, we need to make sure that the columns in the data are consistent across each file

In [47]:
# Exploring immigration data columns across all the files

# Put a small dataframe from each month into a list
dfs = []
for fname in IMMIGRATION_DATA_FILENAMES:
    myiter = pd.read_sas(fname, 'sas7bdat', encoding='ISO-8859-1', chunksize=20)
    dfs.append(next(myiter))
    
# create a dict that maps each month to a list of column names
cnames_by_fname = {t[0].split('/')[-1].split('_')[1][:3]: list(t[1].columns.values)
                   for t in zip(IMMIGRATION_DATA_FILENAMES, dfs)}

# let's hope for some commonality and reverse that dict so a hashed up comma-seperated
# list of the column names is the key and the values are lists of the months
cbyf_reversed = defaultdict(list)
for k, v in cnames_by_fname.items():
    cbyf_reversed[','.join(v)].append(k)
    
print(len(cbyf_reversed))
cbyf_reversed.values()

2

dict_values([['jan', 'feb', 'mar', 'apr', 'may', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec'], ['jun']])

In [48]:
# We can see that June is the odd duck out, let's take a closer look at how these columns
# do and don't match up then

usual = list(dfs[0].columns.values)
gray_duck = list(dfs[5].columns.values)
print(len(usual), len(gray_duck))
for z in (zip(usual, gray_duck)):
    print(z)

28 34
('cicid', 'cicid')
('i94yr', 'i94yr')
('i94mon', 'i94mon')
('i94cit', 'i94cit')
('i94res', 'i94res')
('i94port', 'i94port')
('arrdate', 'arrdate')
('i94mode', 'i94mode')
('i94addr', 'i94addr')
('depdate', 'depdate')
('i94bir', 'i94bir')
('i94visa', 'i94visa')
('count', 'count')
('dtadfile', 'validres')
('visapost', 'delete_days')
('occup', 'delete_mexl')
('entdepa', 'delete_dup')
('entdepd', 'delete_visa')
('entdepu', 'delete_recdup')
('matflag', 'dtadfile')
('biryear', 'visapost')
('dtaddto', 'occup')
('gender', 'entdepa')
('insnum', 'entdepd')
('airline', 'entdepu')
('admnum', 'matflag')
('fltno', 'biryear')
('visatype', 'dtaddto')

In [50]:
# My eyes say that June just has a `validres` and then five `delete_` columns added
# to the middle. Let's see if we can validate that

usual == [gd for gd in gray_duck if not (gd.startswith('delete_') or gd == 'validres')]

True

So when we insert this immigration data we'll have to take special care with the June data.

#### City Demographics Data

This data looks pretty clean. The exploration steps involve:

1. Looking at a single city. This reveals the grain of the table to be city/state/race. Removing the `Race` and `Count` columns gives you duplicate data
1. Assuring that the `Male Population` and `Female Population` numbers add up to `Total Population` whenever they are present. (NB: I am aware not everybody identifies as exactly one of those two genders, but they always add up to total in this table so I assume those were the only two choices and were required.)
1. Assuring that `Number of Veterans`, `Race`, and `Foreign-born` are less than `Total Population` whenever they are present.
1. Seeing that the total of `Count` for all the races adds up to more than `Total Population`, indicating people must have been allowed to select more than one race for themselves in the survey.
1. Selecting distinct state codes to be sure that the number was near 50 (to account for 50 states, DC, PR, etc.)

Those are important things to learn, but there was nothing in this data that needed cleaning.

In [17]:
# Exploring city demographics data

# Looking at one city reveals grain to be city/state/race
city_demo_df[city_demo_df['City'] == 'Silver Spring'].head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.6,MD,Hispanic or Latino,25924
592,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.6,MD,White,37756
1678,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.6,MD,Black or African-American,21330
2123,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.6,MD,American Indian and Alaska Native,1084
2162,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.6,MD,Asian,8841

In [35]:
# More city demographics exploration

# Ensure counts, when present, don't exceed total population, and that male+female == total
for _, row in city_demo_df.iterrows():
    if pd.notnull(row['Male Population']):
        assert row['Male Population'] + row['Female Population'] == row['Total Population']
    if pd.notnull(row['Number of Veterans']):
        assert row['Number of Veterans'] <= row['Total Population']
    if pd.notnull(row['Foreign-born']):
        assert row['Foreign-born'] <= row['Total Population']
    if pd.notnull(row['Count']):
        assert row['Count'] <= row['Total Population']
    for numbered_column in ['Male Population', 'Female Population', 'Total Population', 'Number of Veterans', 'Foreign-born', 'Count']:
        assert pd.isnull(row[numbered_column]) or row[numbered_column] > 0
        
# Check to see if race counts add up to total
sub_df = city_demo_df[['City', 'State', 'Total Population', 'Count']]
grouped = sub_df.groupby(['City', 'State', 'Total Population']).sum().reset_index()
grouped.head()

      City       State  Total Population   Count
0  Abilene       Texas            125876  147900
1    Akron        Ohio            197553  210305
2  Alafaya     Florida             85264  115476
3  Alameda  California             78614   89174
4   Albany     Georgia             71109   73478

In [33]:
# More city demographics exploration

# Based on that last run it looks like Count always sums up to >= Total Population, so let's check
for _, row in grouped.iterrows():
    if pd.notnull(row['Total Population']) and row['Count'] < row['Total Population']:
        print(row['City'], row['State'], row['Total Population'], row['Count'])

Bayamón Puerto Rico 170259 169155
Caguas Puerto Rico 77008 76973
Mayagüez Puerto Rico 66581 65756
New Bedford Massachusetts 94959 93321
Ponce Puerto Rico 121583 120705
San Juan Puerto Rico 342237 342042
South Jordan Utah 66639 66205

That's interesting. Five from Puerto Rico, one from Massachusetts, and another from Utah. Not entirely unsurprising, as those are all places where you would expect a lack of diversity. The numbers are close, and while this leads us to conclude `Race` may have been optional or there may be missing counts, I don't know if we can do anything to clean this.

Let's look at states now

In [43]:
# More city demographics exploration

# Let's get some totals by state now, in large part to verify that we only have ~ 50 states listed
sub_df = city_demo_df[['State Code', 'Male Population', 'Female Population', 'Total Population', 'Foreign-born']]
summed_by_state_df = sub_df.groupby(['State Code']).sum().reset_index()
print(summed_by_state_df.shape)
summed_by_state_df.sort_values(by=['Total Population'], ascending=False).head()  # reveals 49 rows, which is great, and topped by big states like CA, TX, and NY passes sniff test

(49, 5)

,State Code,Male Population,Female Population,Total Population,Foreign-born
4,CA,61055672.0,62388681.0,123444353,37059662.0
44,TX,34862194.0,35691659.0,70553853,14498054.0
34,NY,23422799.0,25579256.0,49002055,17186873.0
9,FL,15461937.0,16626425.0,32306132,7845566.0
14,IL,10943864.0,11570526.0,22514390,4632600.0

### Step 3: Define the Data Model

#### 3.1 Conceptual Data Model

I wanted to know more about immigration events, so I put the immigration data at the center of my star schema in a table called `fact_immigration`. This is primarily that data loaded into a table, though I do some data validation, exploration, and cleaning steps after it's loaded, as you'll see below.

```sql
create table fact_immigration
(
	immigration_id serial not null
		constraint fact_immigration_pkey
			primary key,
	cicid integer not null,
	i94yr integer not null,
	i94mon integer not null,
	i94cit integer,
	i94res integer,
	i94port char(3),
	arrdate integer,
	i94mode integer,
	i94addr char(3),
	depdate integer,
	i94bir integer,
	i94visa integer,
	count integer,
	dtadfile varchar,
	visapost char(3),
	occup char(3),
	entdepa char,
	entdepd char,
	entdepu char,
	matflag char,
	biryear integer,
	dtaddto integer,
	gender char,
	insnum integer,
	airline char(2),
	admnum integer,
	fltno varchar,
	visatype char(2)
);
```

With the help of the immigration data header file, I was able to create several dimension tables around it:

- dim_country
- dim_arrival_mode
- dim_port
- dim_address
- dim_visa_type

##### dim_country

The foreign keys are `fact_immigration.i94cit` and `fact_immigration.i94res`

```sql
create table dim_country
(
	code integer not null
		constraint dim_country_pkey
			primary key,
	name varchar not null
);
```

##### dim_arrival_mode

The foreign key is `fact_immigration.i94mode`

```sql
create table dim_arrival_mode
(
	code integer,
	mode char(12)
);
```

##### dim_port

The foreign key is `fact_immigration.i94port`

```sql
create table dim_port
(
	code char(3),
	name varchar
);
```

##### dim_address

The foreign key is `fact_immigration.i94addr`

```sql
create table dim_address
(
	code char(2),
	name varchar
);
```

##### dim_visa_type

The foreign key is `fact_immigration.i94visa`

```sql
create table dim_visa_type
(
	code integer,
	visa_type char(8)
);
```

##### dim_date

Because dates are stored in a few columns in `fact_immigration` and in different formats, I wanted to create a `dim_date` table that covered the entire 20th century (for the older immigrants) and went all the way through to the end of this year.

The foreign keys are `arrdate`, `depdate`, `dtadfile`, and `dtaddto` in `fact_immigration`

```sql
create table dim_date
(
	code integer not null
		constraint dim_date_pkey
			primary key,
	year integer not null,
	month integer not null,
	day integer not null,
	day_of_week integer not null,
	ymd_dash char(10) not null,
	ymd_nodash char(8) not null,
	mdy_nodash char(8) not null
);
```

##### dim_city and dim_state

I also used the city demographics data to create two additional tables: `dim_city` and `dim_state`. `dim_city` is essentially just the dataset itself loaded into a table, whereas `dim_state` is the aggregation I came up with in my exploration above.

```sql
create table dim_city
(
	city varchar,
	state varchar,
	median_age numeric,
	male_pop integer,
	female_pop integer,
	total_pop integer,
	num_vets integer,
	foreign_born integer,
	avg_household_size double precision,
	state_code char(2),
	race varchar,
	count integer
);

create table dim_state
(
	state_code char(2)
		constraint dim_state_pkey
			primary key,
	male_pop integer,
	female_pop integer,
	total_pop integer,
	foreign_born integer
);
```

#### 3.2 Mapping Out Data Pipelines

I'll start with the easiest tables and build up from there

##### dim_arrival_mode and dim_visa_type

These two tables have three and four rows in them, respectively. There's no reason to pipeline anything, they can be generated by manually creating simple `INSERT` statements.

##### dim_address, dim_port, and dim_country

These can be generated by:

1. Inspecting the line numbers where their details are listed in the header file
1. Crafting regular expressions
1. Writing a script to parse values from those lines and insert the values

##### dim_city and dim_state

The data frames for these tables are available from Step 2 above. They are ready to be inserted into the database

##### fact_immigration

This is the hardest one to get in and is also the only one that requires to step outside the notebook in order to import.

This involves reading in each of the 12 files into a dataframe and then inserting each dataframe into the table. After each insert we delete the dataframe from memory before reading in the next file. The reason for this is that continuing to concatenate each month's worth of data into a single dataframe takes far longer than it does to complete the cycle one month at a time.

One exception to the "one month at a time" rule is that we do May and June in the same go. The reason for this is, as shown above, June has extra columns in it that we don't want, and we can get rid of those trivially by doing an inner concatenation with May, the month prior to it.

### Step 4: Run Pipelines to Model the Data 

#### 4.1 Create the data model

Build the data pipelines to create the data model.

In [55]:
# Create database connections
conn = psycopg2.connect(CONN_STRING)
conn.set_session(autocommit=True)
cur = conn.cursor()

##### dim_arrival_mode and dim_visa_type

In [58]:
dim_arr_mode_drop = 'DROP TABLE IF EXISTS dim_arrival_mode;'

dim_arr_mode_create = """CREATE TABLE IF NOT EXISTS dim_arrival_mode
(code int, mode char(12))"""

dim_arr_mode_insert = """INSERT INTO dim_arrival_mode (code, mode)
VALUES (1, 'Air'), (2, 'Sea'), (3, 'Land'), (9, 'Not reported');"""

cur.execute(dim_arr_mode_drop)
cur.execute(dim_arr_mode_create)
cur.execute(dim_arr_mode_insert)

In [59]:
dim_visa_type_drop = 'DROP TABLE IF EXISTS dim_visa_type;'

dim_visa_type_create = """CREATE TABLE IF NOT EXISTS dim_visa_type
(code int, visa_type char(8))"""

dim_visa_type_insert = """INSERT INTO dim_visa_type (code, visa_type)
VALUES (1, 'Business'), (2, 'Pleasure'), (3, 'Student');"""

cur.execute(dim_visa_type_drop)
cur.execute(dim_visa_type_create)
cur.execute(dim_visa_type_insert)

##### dim_address

In [85]:
# before going straight into dim_address, parse header file and display nicely
with open(HEADER_FILE) as f:
    header_file_lines = f.readlines()
    
comment_lines = [line for line in header_file_lines if line.startswith('/*') and line.endswith('*/\n')]
clpatt = re.compile(r'^/\*\s+(?P<code>.+?)\s+-\s+(?P<description>.+)\s+\*/$')
matches = [clpatt.match(cl) for cl in comment_lines]
if not all(m is not None for m in matches):
    for i, m in enumerate(matches):
        if m is None:
            print(i)
print(f'CODE{"":16}', 'DESCRIPTION')
for m in matches:
    print(f'{m.group("code"):20}', m.group('description'))

CODE                 DESCRIPTION
I94YR                4 digit year
I94MON               Numeric month
I94CIT & I94RES      This format shows all the valid and invalid codes for processing
I94PORT              This format shows all the valid and invalid codes for processing
I94MODE              There are missing values as well as not reported (9)
I94BIR               Age of Respondent in Years
COUNT                Used for summary statistics
DTADFILE             Character Date Field - Date added to I-94 Files - CIC does not use
VISAPOST             Department of State where where Visa was issued - CIC does not use
OCCUP                Occupation that will be performed in U.S. - CIC does not use
ENTDEPA              Arrival Flag - admitted or paroled into the U.S. - CIC does not use
ENTDEPD              Departure Flag - Departed, lost I-94 or is deceased - CIC does not use
ENTDEPU              Update Flag - Either apprehended, overstayed, adjusted to perm residence - CIC does not use
MATFLAG              Match flag - Match of arrival and departure records
BIRYEAR              4 digit year of birth
DTADDTO              Character Date Field - Date to which admitted to U.S. (allowed to stay until) - CIC does not use
GENDER               Non-immigrant sex
INSNUM               INS number
AIRLINE              Airline used to arrive in U.S.
ADMNUM               Admission Number
FLTNO                Flight number of Airline used to arrive in U.S.
VISATYPE             Class of admission legally admitting the non-immigrant to temporarily stay in U.S.

In [66]:
# parse header file for dim_adddress values
address_lines = header_file_lines[981:1036]
patt = re.compile(r"^\s*'(?P<code>..)'\s*=\s*'(?P<name>.+)'.*$")
matches = [patt.match(line) for line in address_lines]
address_codes = {match.group('code'): match.group('name') for match in matches}
assert len(address_codes) == len(address_lines)

In [67]:
# set up queries
dim_address_drop = 'DROP TABLE IF EXISTS dim_address;'
dim_address_create = 'CREATE TABLE IF NOT EXISTS dim_address (code char(2), name varchar);'
dim_address_insert = 'INSERT INTO dim_address (code, name) VALUES (%s, %s);'

# execute queries
cur.execute(dim_address_drop)
cur.execute(dim_address_create)
for item in sorted(address_codes.items()):
    cur.execute(dim_address_insert, item)

##### dim_port

In [68]:
# parse header file for dim_adddress values
port_lines = header_file_lines[302:962]
patt = re.compile(r"^\s*'(?P<code>...?)'\s*=\s*'(?P<name>.+)'.*$")
matches = [patt.match(line) for line in port_lines]
port_codes = {match.group('code'): match.group('name').strip() for match in matches}
assert len(port_codes) == len(port_lines)

In [69]:
# set up queries
dim_port_drop = 'DROP TABLE IF EXISTS dim_port;'
dim_port_create = 'CREATE TABLE IF NOT EXISTS dim_port (code char(3), name varchar);'
dim_port_insert = 'INSERT INTO dim_port (code, name) VALUES (%s, %s);'

# execute queries
cur.execute(dim_port_drop)
cur.execute(dim_port_create)
for item in sorted(port_codes.items()):
    cur.execute(dim_port_insert, item)

##### dim_country

In [70]:
# parse header file for dim_country values
country_lines = header_file_lines[9:298]
patt = re.compile(r"^\s*(?P<code>\d+)\s*=\s*'(?P<country>.+)'.*$")
matches = [patt.match(line) for line in country_lines]
country_codes = {int(match.group('code')): match.group('country') for match in matches}
assert len(country_lines) == len(country_codes)

In [71]:
# set up queries
dim_country_drop = 'DROP TABLE IF EXISTS dim_country;'

dim_country_create = """CREATE TABLE IF NOT EXISTS dim_country
(code int PRIMARY KEY, name varchar NOT NULL);"""

dim_country_insert = """INSERT INTO dim_country
(code, name)
VALUES (%s, %s)
ON CONFLICT (code) DO NOTHING;"""

# execute queries
cur.execute(dim_country_drop)
cur.execute(dim_country_create)
for item in country_codes.items():
    cur.execute(dim_country_insert, item)

##### dim_date

I wanted to create `dim_date` because dates are listed in so many different ways in the immigration data. Along with various MDY formats, there's also their preferred format for `arrdate` and `depdate`, which assigns 20454 to January 1, 2016 and increments in the future and decrements in the past.

Since the earliest birth year in the data was 1900, I created a row for each day between 1/1/900 and 12/31/2019 inclusive.

In [84]:
# set up queries
dim_date_drop = 'DROP TABLE IF EXISTS dim_date;'

dim_date_create = """CREATE TABLE dim_date
(code int PRIMARY KEY, year int NOT NULL, month int NOT NULL,
 day int NOT NULL, day_of_week INT NOT NULL, ymd_dash char(10) NOT NULL,
 ymd_nodash char(8) NOT NULL, mdy_nodash char(8) NOT NULL);
"""

dim_date_insert = """INSERT INTO dim_date
(code, year, month, day, day_of_week, ymd_dash, ymd_nodash, mdy_nodash)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s);"""

# execute queries
cur.execute(dim_date_drop)
cur.execute(dim_date_create)

dt = datetime(2016, 1, 1)
end_dt = datetime(2019, 12, 31)
one_day = timedelta(days=1)
code = 20454

while dt <= end_dt:
    cur.execute(dim_date_insert, 
               [code, dt.year, dt.month, dt.day, dt.weekday(), dt.strftime('%Y-%m-%d'),
                dt.strftime('%Y%m%d'), dt.strftime('%d%m%Y')]
               )
    dt = dt + one_day
    code += 1
    
dt = datetime(2015, 12, 31)
end_dt = datetime(1900, 1, 1)
code = 20453

while dt >= end_dt:
    cur.execute(dim_date_insert, 
               [code, dt.year, dt.month, dt.day, dt.weekday(), dt.strftime('%Y-%m-%d'),
                dt.strftime('%Y%m%d'), dt.strftime('%d%m%Y')]
               )
    dt = dt - one_day
    code -=1

##### dim_city

In [77]:
# set up queries
dim_city_drop = 'DROP TABLE IF EXISTS dim_city;'

dim_city_create = """CREATE TABLE IF NOT EXISTS dim_city
(city varchar, state varchar, median_age numeric, male_pop int, female_pop int, total_pop int, num_vets int,
foreign_born int, avg_household_size float, state_code char(2), race varchar, count int);
"""

dim_city_insert = """INSERT INTO dim_city
(city, state, median_age, male_pop, female_pop, total_pop, num_vets, foreign_born, avg_household_size, state_code,
race, count)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"""

# execute queries
cur.execute(dim_city_drop)
cur.execute(dim_city_create)
for _, row in city_demo_df.iterrows():
    cur.execute(dim_city_insert, [v if pd.notna(v) else None for v in row])

##### dim_state

In [81]:
# set up queries
dim_state_drop = 'DROP TABLE IF EXISTS dim_state;'

dim_state_create = """CREATE TABLE IF NOT EXISTS dim_state
(state_code char(2) PRIMARY KEY, male_pop int, female_pop int, total_pop int, foreign_born int);"""

dim_state_insert = """INSERT INTO dim_state
(state_code, male_pop, female_pop, total_pop, foreign_born)
VALUES (%s, %s, %s, %s, %s);"""

# execute queries
cur.execute(dim_state_drop)
cur.execute(dim_state_create)
for _, row in summed_by_state_df.iterrows():
    cur.execute(dim_state_insert, row)

##### fact_immigration

Because `DataFrame.to_sql()` does not work from an ipython interpreter and because we don't want to bring the notebook to a standstill, `fact_immigration` is created and filled by the included script run from the command line

`python load_immigration_data.py`

Necessary libraries are pandas, pscopg2, tqdm and sqlalchemy. These can be installed via 

`pip install -r requirements.txt`

#### 4.2 Data Quality Checks

I performed my data quality checks in the included file `data_quality_checks.sql`. I explain them here.

##### row counts for fact_immigration

I logged the following row counts when running `load_immigration_data.py`


| month	| df rows |
| ----- | -------:|
| jan |	2,847,924 |
| feb |	2,570,543 |
| mar |	3,157,072 |
| apr |	3,096,313 |
| may |	3,444,249 |
| jun |	3,574,989 |
| jul |	4,265,031 |
| aug |	4,103,570 | 
| sep |	3,733,786 |
| oct |	3,649,136 |
| nov |	2,914,926 |
| dec |	3,432,990 |
 
This allowed me to run the following query and compare the results

```sql
select count(distinct immigration_id), i94mon
from fact_immigration
group by i94mon
order by i94mon;
```

##### Only 2016 data

I also assured myself there was no data outside of 2016

```sql
select count(1) from fact_immigration where i94yr is null or i94yr <> 2016;
```

##### Explore `cicid`

I noticed that `cicid` was duplicated across each month's data, and I wondered if that was actually supposed to be a cross-file primary key and so I might have duplicates by using my own primary key. I was able to verify they are not duplicates using this set of queries

```sql
select cicid, count(cicid) from fact_immigration group by cicid order by count desc;

-- over 500 cicids appear 12 times...let's look at a handful to see if they are duplicates
select * from fact_immigration
where cicid in (5454856, 3334634, 4087143, 395680)
order by cicid; -- those are very clearly not duplicates
```

##### Fixing `i94bir` and `biryear`

As explained in Step 2 above, I discovered ages and birth years that did not makes sense in this data, and so I fixed them with these queries.

```sql
UPDATE fact_immigration
SET i94bir = NULL
WHERE i94bir < 0 or i94bir > 120;

UPDATE fact_immigration
SET biryear = NULL
WHERE biryear < 1900 or biryear > 2016;
```

##### count

I make sure the `count` field is always 1 with

```sql
select count(count) N, count
from fact_immigration
group by count
order by N desc;
```

#### 4.3 Data dictionary 

##### fact_immigration

The grain is an immigration event

* immigration_id: primary key
* cicid: unique key within a month
* i94yr: 4 digit year, always 2016
* i94mon: numeric month, 1-12
* i94cit: immigrant's country of citizenship; foreign key to `dim_country`
* i94res: immigrant's country of residence outside US; foreign key to `dim_country`
* i94port: port of entry; foreign key to `dim_port`
* arrdate: arrival date of immigrant where 20454 == 1/1/2016
* i94mode: mode of arrival; foreign key to `dim_arrival_mode`
* i94addr: address (usually state) of immigrant in US; foreign key to `dim_address`
* depdate: departure date of immigrant where 20454 == 1/1/2016
* i94bir: immigrant's age in years
* i94visa: foreign key to `dim_visa_type`
* count: used for summary statistics; always 1 (for easy adding)
* dtadfile: dates in the format YYYYMMDD
* visapost: three-letter codes corresponding to where visa was issued
* occup: occupation in US of immigration. Mostly STU for student, also many OTH for other
* entdepa: one-letter arrival code
* entdepd: one-letter departure code
* entdepu: one-letter update code
* matflag: M if the arrival and departure records match
* biryear: four-digit year of birth
* dtaddto: MMDDYYYY date field for when the immigrant is admitted until
* gender: mostly M and F, but some X and U as well
* insnum: Immigration and Naturalization Services number; many re-used
* airline: Airline of entry for immigrant
* admnum: admission number; many re-used, but not as much as insnum
* fltno: flight number of immigrant
* visatype: short visa codes like WT, B2, WB, etc.

##### dim_city

Provides population statistics on cities in the US. Grain is city/state/race.

* city: city's name
* state: state city is in
* median_age: median age of city
* male_pop: number of men in the city
* female_pop: number of women in the city
* total_pop: number of people in the city
* num_vets: number of veterans in the city
* foreign_born: number of foreign-born people in the city
* avg_household_size: average household size
* state_code: two-letter code for state
* race: White, Hispanic or Latino, Asian, Black or African-American, or American Indian and Alaska Native
* count: number of people of that race in the city

##### dim_state

Aggregated statistics from dim_city by state

* state_code: two-letter code for state
* male_pop: number of men in the state
* female_pop: number of women in the state
* total_pop: number of people in the state
* foreign_born: number of foreign-born people in the state

##### dim_country

A list of countries and their codes that appear in `fact_immigration.i94cit` and `fact_immigration.i94res`

* code: a numbered code
* name: usually a name of a country. There are many that start with `INVALID:` as well as several different `No Country Code([code])` values

##### dim_address

A list of the states (usually) where immigrants list their address

* code: mostly two-letter codes for states. There's DC, GU (Guam), and 99 (All Other Codes) as well
* name: name of state, region, etc.

##### dim_port

A list of the ports of arrival

* code: a short code
* name: the name of the port; there are some `No PORT Code ([code])` values too

##### dim_date

A list of dates in different formats

* code: the CIC code for date where 20454 is 1/1/2016
* year: four-digit year
* month: month; 1-12
* day: day; 1-31
* day_of_week: 0 for Monday, 1 for Tuesday, ..., 7 for Sunday
* ymd_dash: date formatted as YYYY-MM-DD
* ymd_nodash: date formatted as YYYYMMDD
* mdy_noash: date formatted as MMDDYYYY

##### dim_arrival_mode

How immigrants arrived. Foreign key to `fact_immigration.i94mode`

* code: 1, 2, 3, or 9
* mode: Air, Sea, Land, or Not reported, respectively

##### dim_visa_type

The type of visa the immigrant is coming in on. Foreigy key to `fact_immigration.i94visa`

* code: 1, 2, or 3
* visa_type: Business, Pleasure, or Student, respectively

### Step 5: Complete Project Write Up

#### Rationale

##### Tools and technologies

I chose Python and Pandas because it can easily read all the data formats provided and then easily get them into a relational database.

The data was structured and formatted well enough to make using a SQL relational database a good fit, as it would provide a nice underpinning for an easily queryable star schema. I chose Postgres because it is fast and robust.

##### Data Model

I chose to augment the immigration data with the city and state dimensions because the `i94addr` column indicates the state where the entrants have an address. This allowed me to see what states immigrants were heading to, along with whether, say, those states have a higher-percentage of foreign-born residents already, whether men are heading to states with a higher-percentage of women, etc.

#### Updates

* `fact_immigration` needs to be updated monthly when each new dataset is available
* with a header file, all `dim_` tables source from the immigration data can be dropped and recreated completely as above
* `dim_city` and `dim_state` don't have a time component now. If new data is available in the future they should be updated at that time, ideally with date columns, at least by year
* `dim_date` should be kept up to date. To be safe all dates between through 12/31/2099 should be added

#### If things were different...

If the data were increased by 100 times, what is now a six-hour load would become an untenable 600-hour load. To avoid this, I would instead convert the `fact_immigration` data to a format readable by Redshift Spectrum and land the data to S3, partitioned by date, and create an external schema so Redshift Spectrum could read it in a schema-on-read fashion.

Under this scenario, I could also ensure that the data was ready to populate a dashboard by seven AM every day as well. I have to assume I could get the daily data for `fact_immigration` and, when it is avaialble, I could have an Airflow DAG using a `S3Sensor` that kicked off upon its arrival and then proceeded to parse the data, land it in its date-partitioned location in S3, in which case it would be ready for Redshift Spectrum to read immediately.

There should be no problem with 100 or so people accessing this data. However, the date-partitioned nature of the solution proposed above would also help in this case. If access by multiple users continues to be a problem you can mitigate that by having the data replicate to different nodes used by different users. If your users are located around the world, a replication node near each group of people would be best.